<p style="color: green"><%= notice %></p>

<%= render @money_expense %>

<div class="row">
  <div class="col-2 col"><%= edit_expense_button(@money_expense) %></div>
  <div class="col-2 col"><%= back_to_expenses_button %></div>
  <div class="col-2 col"><%= delete_expense_button(@expense) %></div>
</div>
