<p style="color: green"><%= notice %></p>

<%= render @money_expense %>

<div>
  <%= link_to "Bearbeite diese Ausgabe", edit_money_expense_path(@money_expense) %> |
  <%= back_to_expenses_button %>
  <%= delete_expense_button(@expense) %>
</div>
